.container {
  display: flex;
  align-items: left;
  flex-direction: column;
  background-color: #fffb;
  padding: 1rem 2rem;
  border-radius: 20px;
  vertical-align: baseline;
  margin: 20px auto;
  max-width: 500px;
}

.nft_card {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  background-color: #000;
  padding: 2rem;
  border-radius: 20px;
  vertical-align: baseline;
  margin: 20px auto;
  /* max-width: 400px; */
  color: rgb(76, 231, 179);
}

.nft_price {
  text-align: left;
}

.nft_price h3{
  font-weight: 300;
}

.account_info{
  padding: 20px 0px;
  text-align: left;
}

.container_mint {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 200px; */
}

.form {
  height: 60px;
  margin: auto;
  color: #000;
  margin: 10px auto;
}

.form input {
    max-width: 50px;
  margin: 10px;
  padding: 2px;
  font: inherit;
  text-indent: 3px;
  border-color: #dddddd;
  border-width: 2px;
  border-radius: 5px;
}


.button {
  margin: 5px auto;
  padding: 2px 30px;
  max-width: 200px;
  height: 50px;
  background: rgba(78, 204, 151, 0.9);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s;
  color: rgba(17, 80, 54, 0.9);
  font-size: large;
  font-weight: 600;
  border: none;
}

.button_active {
  margin: 5px auto;
  padding: 2px 10px;
  max-width: 200px;
  height: 50px;
  background: rgba(0, 228, 133, 0.9);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s;
  color: rgba(9, 41, 27, 0.9);
  font-size: large;
  font-weight: 600;
  border: none;
}

.button_inactive {
  margin: 5px auto;
  padding: 2px 10px;
  max-width: 200px;
  height: 50px;
  background: rgba(133, 136, 135, 0.9);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s;
  color: #575656;
  font-size: large;
  font-weight: 600;
  border: none;
}

.button:hover {
  background: rgba(2, 87, 51, 0.9);
  color: #a3ffe8;
  /* box-shadow: 6px 6px 6px rgb(234, 234, 234); */
  transform: translateY(-2px);
}

.button p {
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

.error_message {
  padding: 5px 0px;
  color: red;
  text-align: center;
}

.message {
  text-align: center;
  padding: 5px 0px;
  min-height: 70px;
}
.message a{
  text-decoration: underline;
}


@media only screen and (max-width: 360px) {
  .container{
    padding: 0.5rem 1rem;
  }
  .nft_card {
    padding: 1.5rem 1rem;
  }
  .nft_price h3{
    font-size: 16px;
  font-weight: 300;
}

  .button {
    font-size: 16px;
    height: 40px;
    padding: 2px 15px;
  }
  .button_active {
    font-size: 16px;
    height: 40px;
    padding: 2px 15px;
  }
  .button_inactive {
    font-size: 16px;
    height: 40px;
    padding: 2px 15px;
  }
}