

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 2rem 1rem 0.8rem 1rem;
	gap: 2rem;
	max-width: 800px;
	margin: 0 auto 0 auto;
}


.alchemy_logo{
	width: 6rem;
	cursor: pointer;
}

.home_button {
	display: flex;
	background-color: color(display-p3 0.2196078431372549 0.2196078431372549 0.2196078431372549);
	color: white;
	padding: 5px 15px;
	border-radius: 12px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
}

.home_button p {
	margin: auto;
	font-weight: 400;
}

@media only screen and (max-width: 360px) {
	.navbar {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	/* align-items: center; */
	}
}