.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
  border-radius: 20px;
  vertical-align: baseline;
  margin: 20px auto;
  max-width: 500px;
}

.container_info{
  padding: 1rem;
  line-height: 1.5rem;
}


.button {
  background-color: rgb(8, 66, 47);
  color: rgb(92, 230, 184);
  padding: 10px 15px;
  border-radius: 5px;
}

.button:hover{
  background-color: rgb(30, 105, 80);
}
